* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 1280px;
}

.section-one {
    background-image: url("../../assets/images/start-screen-gradient-background.jpg");
    height: 908px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

header {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.logo {
    width: 184px;
    height: 60px;
}
.logo h1 {
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
    color: #F1CDB3;
}

.logo p {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.navigation {
    width: 443px;
    height: 27px;
    display: flex;
    align-items: center;

}
.navigation nav {
    display: flex;
    width: 100%;


}

.navigation nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navigation nav ul li {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.navigation nav ul li a {
    color : #CDCDCD;

}

.navigation nav ul li a:hover {
    color: #FAFAFA;
    border-bottom: 2px solid #F1CDB3;
}

.section-one-puppy {
    width: 1200px;
    height: 728px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.section-one-puppt-one {
    width: 460px;
    height: 322px;
}

.puppy-h2 {
    width: 310px;
    height: 114px;
}

.puppy-h2 h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    color: #ffffff;
}

.puppy-p {
    width: 460px;
    height: 72px;
    margin: 42px 0;
}

.puppy-p p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #CDCDCD;
}

.puppy-btn button {
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    border: none;
    border-radius: 100px;
}

.section-one-puppt-two {
    width: 698px;
    height: 728px;
}

.section-one-puppt-two img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 770px) {
    main {
        width: 768px;
    }
    .section-one {
        width: 768px;
        height: 1165px;
    }
    header {
        width: 708px;
        margin-top: 30px;
    }
    .section-one-puppy {
        flex-direction: column;
        height: 1015px;
        width: 768px;
    }
    .section-one-puppt-two {
        width: 569px;
        height: 593px;
    }
}


/* section-two */ 

.section-two {
    width: 1280px;
    height: 588px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.section-two-img {
    width: 300px;
    height: 408px;
}

.section-two-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-two-text {
    width: 430px;
    height: 308px;
}

.two-text-h2 {
    width: 370px;
    height: 90px;
}

.two-text-h2 h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
}

.two-text-p-one {
    width: 430px;
    height: 96px;

}

.two-text-p-two {
    margin-top: 25px;
    width: 430px;
    height: 114px;
}

.here {
    font-weight: 400;
    font-size: 15;
    line-height: 24px;
    color: #4C4C4C;
}

@media (max-width: 770px) {
    .section-two {
        width: 768px;
        height: 1048px;
        flex-direction: column-reverse;
    }
}